Repository stockhut/hsfl-master-ai-cloud-engineering: changes, and which Codecov flags are due for each by the changed paths.
All: auth, recipe, common, loadbalancer, reverseproxy

chore(monitoring): add custom dashboard to grafana
  monitoring/grafana/dashboard.json
Due: none

feat(web-service): error notification login/registration and styling
  web-service/public/css/style.css
  web-service/public/login.html
Due: none

feat(loadtest): implement RPS curve
  loadtest/cmd/main.go
  loadtest/cmd/main_test.go
  loadtest/go.mod
  loadtest/go.sum
Due: none

feat(loadtest): add optional response statistics
  common/fun/count.go
  common/fun/count_test.go
  loadtest/cmd/main.go
  loadtest/cmd/main_test.go
Due: common

feat(loadtest): load config from yaml file
  loadtest/cmd/main.go
  loadtest/config/config.go
  loadtest/loadtest.go
  loadtest/loadtest.yaml
Due: none

feat(loadtest): use targets from config file, set host header automatically
  loadtest/cmd/main.go
  loadtest/loadtest.go
  loadtest/loadtest.yaml
Due: none

refactor(loadtest): remove old implementation
  loadtest/cmd/main.go
  loadtest/load.config.json
  loadtest/worker/job.go
  loadtest/worker/pool.go
  loadtest/worker/worker.go
Due: none

chore(loadtest): go mod tidy
  loadtest/go.mod
  loadtest/go.sum
Due: none

docs(loadtest): update readme
  loadtest/Readme.md
Due: none

chore(monitoring): update rate calculation and graph legends
  monitoring/grafana/dashboard.json
Due: none

chore(version): 0.4.0
  CHANGELOG.md
  authentication/CHANGELOG.md
  common/CHANGELOG.md
  recipe/CHANGELOG.md
  web-service/CHANGELOG.md
Due: auth, recipe, common

ci(web-service): don't ignore tags (trying to fix missing git tag when building image for new version)
  .github/workflows/web-service_build_push_image.yml
Due: none

ci(web-service): fetch tags when building web-service image
  .github/workflows/web-service_build_push_image.yml
Due: none

chore(monitoring): Add kubernetes dashboard (CPU/Mem per image, service network)
  monitoring/grafana/kubernetes-dasboard.json
Due: none

docs(authentication): fix proto generation instructions in readme
  authentication/README.md
Due: auth

chore: add k3s vm config
  k8s-vm/Readme.md
  k8s-vm/common.nix
  k8s-vm/control-plane.nix
  k8s-vm/node.nix
Due: none

docs: typo
  k8s-vm/Readme.md
Due: none

docs: mention vm ocnfig in deployment readme
  deployment/Readme.md
Due: none

docs(deployment): apply mainfests recusive (to include postgres)
  deployment/Readme.md
Due: none

chore(k8s-vm): don't copy config into vm
  k8s-vm/node.nix
Due: none

chore(k8s-vm): set cpu count to 2
  k8s-vm/control-plane.nix
  k8s-vm/node.nix
Due: none

chore(deployment)!:store postgres credentials as secrets
  deployment/Readme.md
  deployment/auth-service-deployment.yaml
  deployment/postgres/postgres-config.yaml
  deployment/postgres/postgres-deployment.yaml
  deployment/recipe-service-deployment.yaml
  deployment/web-service-deployment.yaml
Due: none

feat(recipe): Improve "get by author" performance under load through request coalescing
  authentication/grpc-server/grpc_server.go
  common/coalescing/coalescer.go
  recipe/recipes/controller.go
  recipe/recipes/get_by_author.go
Due: auth, recipe, common

chore(loadtest): Fix tests
  loadtest/cmd/main.go
  loadtest/loadtest.go
  loadtest/loadtest_test.go
Due: none

ci(loadtest): Run tests
  .github/workflows/test-loadtest-tool.yml
Due: none

chore(authentication): use local common package version
  authentication/go.mod
  authentication/go.sum
Due: auth

fix(authentication): fix nil conversion error
  authentication/grpc-server/grpc_server.go
Due: auth

fix(json-presenter): return after error
  common/presenter/json_presenter/json_presenter.go
Due: common

refactor(json-presenter): rename function
  common/go.mod
  common/go.sum
  common/presenter/json_presenter/json_presenter.go
  common/presenter/json_presenter/json_presenter_test.go
  recipe/recipes/create_recipe.go
  recipe/recipes/get_by_author.go
  recipe/recipes/get_by_id.go
  recipe/recipes/get_by_self.go
Due: recipe, common

feat(recipe): Add profiling endpoint
  recipe/README.md
  recipe/main.go
Due: recipe

ci(loadtest): fix workflow name
  .github/workflows/test-loadtest-tool.yml
Due: none

chore(version): 0.5.0
  CHANGELOG.md
  common/CHANGELOG.md
  loadtest/CHANGELOG.md
Due: common

feat(loadtest)!: Implement optional http request body
  loadtest/Readme.md
  loadtest/cmd/main.go
  loadtest/config/config.go
  loadtest/loadtest.go
  loadtest/loadtest.yaml
  loadtest/loadtest_test.go
Due: none

feat(recipe): Use pgx connection pool to improve database connections
  common/db/generated/db.go
  common/db/generated/models.go
  common/db/generated/query.sql.go
  common/db/sqlc.yaml
  recipe/main.go
  recipe/recipes/repository.go
Due: recipe, common

fix(loadtest): Fix request counting when stats are disabled
  loadtest/cmd/main.go
Due: none

chore(version): 0.6.0
  CHANGELOG.md
  authentication/CHANGELOG.md
  common/CHANGELOG.md
  loadtest/CHANGELOG.md
  recipe/CHANGELOG.md
Due: auth, recipe, common

feat(load-balancer): Load config from yaml file close #58
  load-balancer/Readme.md
  load-balancer/cmd/main.go
  load-balancer/config.yaml
  load-balancer/config/config.go
  load-balancer/go.mod
Due: reverseproxy

feat(authentication): Implement health check endpoint
  authentication/api/router/router.go
  authentication/go.mod
  authentication/go.sum
Due: auth

chore: go mod tidy
  common/go.mod
  common/go.sum
  recipe/go.mod
  recipe/go.sum
  reverse-proxy/go.mod
  reverse-proxy/go.sum
Due: recipe, common, loadbalancer

docs: update readmes
  README.md
  authentication/README.md
  bruno/Readme.md
  common/Readme.md
  deployment/Readme.md
  k8s-vm/Readme.md
  loadtest/Readme.md
  recipe/README.md
  web-service/README.md
Due: auth, recipe, common

Path conditions:
  auth: any of: authentication
  recipe: any of: recipe
  common: any of: common
  loadbalancer: any of: reverse-proxy
  reverseproxy: any of: load-balancer
