Repository stockhut/hsfl-master-ai-cloud-engineering: changes, and which Codecov flags are due for each by the changed paths.
All: auth, recipe, common, loadbalancer, reverseproxy

codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
    patch:
        informational: true
flags:
  auth:
    paths:
      - authentication
  recipe:
    paths:
      - recipe
  common:
    paths:
      - common
  loadbalancer:
    paths:
      - reverse-proxy
  reverseproxy:
    paths:
      - load-balancer

flag_management:
  default_rules:
    carryforward: true

chore(monitoring): Display total pod RAM usage, display number of pods per image
  monitoring/grafana/kubernetes-dasboard.json
Due: none

feat(web-service): tailwind css and css for login,create-recipe
  web-service/public/createRecipe.html
  web-service/public/css/style.css
  web-service/public/index.html
  web-service/public/login.html
Due: none

feat(recipe): tailwind css and html changes for recipe display
  recipe/templates/displayRecipe.html
  recipe/templates/displayRecipesShort.html
  recipe/templates/recipeSuccessfulCreate.html
Due: recipe

fix(recipe): Display cooking instructions correctly/remove placeholder
  recipe/templates/displayRecipe.html
Due: recipe

chore: Add image build information to compose.yml
  dev-compose/compose.yml
Due: none

chore(version): 0.7.0
  CHANGELOG.md
  recipe/CHANGELOG.md
  web-service/CHANGELOG.md
Due: recipe

chore: Remove unused sql code
  common/db/generated/models.go
  common/db/generated/query.sql.go
  common/db/query.sql
  common/db/schema.sql
Due: common

fix(frontend): Home page label
  web-service/public/index.html
Due: none

fix(authentication): Stop logging jwts
  authentication/middleware/middleware.go
Due: auth

chore(monitoring): add readme
  monitoring/README.md
Due: none

chore(docs): reference deployment readme in root readme
  README.md
Due: none

fix(web-service): fix input fields, required and remove Pfannkuchen
  recipe/templates/displayRecipe.html
  web-service/public/createRecipe.html
  web-service/public/login.html
Due: recipe

fix(web-service):fix h3 color
  web-service/public/css/style.css
Due: none

fix(recipe): fix time estimate and feeds people, remove unused sql code (without breaking things this time)
  common/db/generated/models.go
  common/db/generated/query.sql.go
  common/db/schema.sql
  recipe/recipes/model/model.go
  recipe/recipes/repository.go
  recipe/recipes/request_response_models.go
Due: recipe, common

chore(docs): add endpoints to readme
  authentication/README.md
  recipe/README.md
Due: auth, recipe

chore(docs): fix table layout
  authentication/README.md
  recipe/README.md
Due: auth, recipe

chore(docs): add backticks to health endpoint
  recipe/README.md
Due: recipe

fix(recipe): return correct status code when recipe id is not found
  recipe/recipes/get_by_id.go
  recipe/recipes/repository.go
Due: recipe

chore(version): 0.8.0
  CHANGELOG.md
  authentication/CHANGELOG.md
  common/CHANGELOG.md
  load-balancer/CHANGELOG.md
  recipe/CHANGELOG.md
  web-service/CHANGELOG.md
Due: auth, recipe, common, reverseproxy

chore(deployment): bump image version number
  deployment/auth-service-deployment.yaml
  deployment/recipe-service-deployment.yaml
  deployment/web-service-deployment.yaml
Due: none

chore(bruno): bruno test registration and login
  bruno/authentication/CreateAccount.bru
  bruno/authentication/Login.bru
Due: none

chore(dev-compose): init db with example dataset
  dev-compose/compose.yml
  dev-compose/init.sql
Due: none

chore(docs): codecov coverage note
  README.md
Due: none

docs: document test dataset and reverse proxy issue
  README.md
  dev-compose/Readme.md
Due: none

chore: bump service versions in k8s manifests
  deployment/auth-service-deployment.yaml
  deployment/recipe-service-deployment.yaml
  deployment/web-service-deployment.yaml
Due: none

chore(common): remove unused file
  common/main.go
Due: common

docs: match PG user between compose and k8s
  deployment/Readme.md
Due: none

docs: same pg user in compose and k8s
  deployment/Readme.md
Due: none

docs: fix sql import
  README.md
Due: none

docs: warn about sql import
  deployment/Readme.md
Due: none
